html {
  min-height: 100%;
}

html,
body {
  height: 100%;
}

body,
figure {
  margin: 0;
}

figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

canvas {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}

@media screen and (min-width: 800px) and (min-height: 500px) {
  canvas {
    min-width: 0;
    min-height: 0;
    max-width: 400px;
    max-height: 400px;
  }
}
