html {
  touch-action: none;
}

body {
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
  font: 16px/1.25 arial, sans-serif;
}

small {
  font-size: 0.75rem;
}

p {
  margin: 0;
  font-size: 0.875rem;
}

figure {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  margin: -150px 0 0 -250px;
}

figcaption {
  margin: 0.5rem;
}

canvas,
img {
  display: block;
}

canvas {
  border: 1px solid #ddd;
}

